/*!
Theme Name: Justread
Theme URI: https://gretathemes.com/wordpress-themes/justread/
Author: GretaThemes
Author URI: https://gretathemes.com
Description: Justread is a clean and modern WordPress theme that focuses on reading experience. Justread has a grid layout with single column content. The theme uses system fonts and SVG for fast loading. Enjoy reading long content with comfortability.
Version: 10.0.9
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: justread
Tags: one-column, grid-layout, custom-background, custom-logo, custom-menu, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready, blog

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

JustRead is based on Underscores http://underscores.me/, (C) 2012-2016 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal http://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
}

body {
	margin: 0;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
	display: block;
}





audio,
canvas,
progress,
video {
	display: inline-block;
	vertical-align: baseline;
}

audio:not([controls]) {
	display: none;
	height: 0;
}

[hidden],
template {
	display: none;
}

a {
	background-color: transparent;
}

a:active,
a:hover {
	outline: 0;
}

abbr[title] {
	border-bottom: 1px dotted;
}

b,
strong {
	font-weight: bold;
}

dfn {
	font-style: italic;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

mark {
	background: #ff0;
	color: #000;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

img {
	border: 0;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	margin: 1em 40px;
}

hr {
	box-sizing: content-box;
	height: 0;
}

pre {
	overflow: auto;
}

code,
kbd,
pre,
samp {
	font-family: monospace, monospace;
	font-size: 1em;
}

button, .site-main #infinite-handle span button,
input,
optgroup,
select,
textarea {
	color: inherit;
	font: inherit;
	margin: 0;
}

button, .site-main #infinite-handle span button {
	overflow: visible;
}

button, .site-main #infinite-handle span button,
select {
	text-transform: none;
}

button, .site-main #infinite-handle span button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: button;
	cursor: pointer;
}

button[disabled], .site-main #infinite-handle span button[disabled],
html input[disabled] {
	cursor: default;
}

button::-moz-focus-inner, .site-main #infinite-handle span button::-moz-focus-inner,
input::-moz-focus-inner {
	border: 0;
	padding: 0;
}

input {
	line-height: normal;
}

input[type="checkbox"],
input[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

fieldset {
	border: 1px solid #c0c0c0;
	margin: 0 2px;
	padding: 0.35em 0.625em 0.75em;
}

legend {
	border: 0;
	padding: 0;
}

textarea {
	overflow: auto;
}

optgroup {
	font-weight: bold;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

td,
th {
	padding: 0;
}

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
body {
	color: #263238;
	font-family: Georgia, "Times New Roman", Times, serif;
	font-size: 20px;
	font-size: 1.25rem;
	line-height: 1.6;
}

h1, h2, h3, h4, h5, h6 {
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	color: #0f161a;
	line-height: 1.25;
	clear: both;
	margin: 1.5em 0 .5em;
}

h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child {
	margin-top: 0;
}

h1 {
	font-size: 2.4em;
}

h2 {
	font-size: 1.8em;
}

h3 {
	font-size: 1.2em;
}

h4 {
	font-size: 1rem;
	text-transform: uppercase;
	letter-spacing: 1px;
}

h5 {
	font-size: .8em;
}

h6 {
	font-size: .7em;
}

p {
	margin: 0 0 1.6em;
}

p:last-child {
	margin-bottom: 0;
}

blockquote {
	font-size: 1.2em;
	font-style: italic;
	border-top: 4px solid currentColor;
	padding: 1em 0 0 2.5em;
	margin: 0 0 1.6em;
	position: relative;
}

blockquote:before {
	content: "\201C";
	position: absolute;
	left: 0;
	top: .06em;
	font-size: 3em;
	font-style: normal;
}

blockquote cite {
	display: block;
	margin-top: .8em;
	font-size: 14px;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-style: normal;
	color: #6f8590;
}

blockquote cite:before {
	content: '\2014';
	margin-right: .5rem;
}

address {
	margin: 0 0 1.6em;
}

pre {
	background: #263238;
	font-family: "Courier 10 Pitch", Courier, monospace;
	font-size: .8em;
	line-height: 1.6;
	margin-bottom: 1.6em;
	overflow: auto;
	padding: 2em;
	color: #e3e6e8;
}

code, kbd, tt, var {
	font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
	font-size: 0.84090145em;
}

abbr, acronym {
	border-bottom: 1px dotted #666;
	cursor: help;
}

mark, ins {
	background: #fff9c0;
	text-decoration: none;
}

big {
	font-size: 125%;
}

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
	box-sizing: border-box;
}

*,
*:before,
*:after {
	/* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
	box-sizing: inherit;
}

body {
	background: #f5f7f8;
	/* Fallback for when there is no custom background color defined. */
}

hr {
	background-color: rgba(38, 50, 56, 0.1);
	border: 0;
	height: 1px;
	margin-bottom: 1.6em;
}

ul, ol {
	margin: 0 0 1.6em;
}

li > ul,
li > ol {
	margin-bottom: 0;
}

dt {
	font-weight: bold;
}

dd {
	margin: 0 1.5em 1.6em;
}

img {
	height: auto;
	/* Make sure images are scaled correctly. */
	max-width: 100%;
	/* Adhere to container width. */
}

figure {
	margin: 0 0 1.6em;
	/* Extra wide images within figure tags don't overflow the content area. */
}

table {
	margin: 0 0 1.6em;
	width: 100%;
	font-size: 16px;
	font-size: 1rem;
}

th, td {
	padding: .5rem .75rem;
}

th:first-child, td:first-child {
	padding-left: 0;
}

th:last-child, td:last-child {
	padding-right: 0;
}

tr {
	border-bottom: 1px solid rgba(38, 50, 56, 0.1);
}

thead tr {
	border-width: .25rem;
}

thead th {
	text-transform: uppercase;
	text-align: left;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 1rem;
}

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
.primary_btn{
	background-color: #fdc526;
	color: white;
	border-radius: 32px;
	padding: 10px 30px  10px 30px ;
	text-align: center;
	border: none;
	margin: 5px;
	width: 100%;
}
.secondary_btn{
	border-radius: 32px;
	padding: 10px 30px  10px 30px ;
	text-align: center;
	border: solid 1px;
	margin: 5px;
	background-color: transparent;
	width: 100%;
}
button,
button:active,
button:focus {
	outline: none;
	font-weight: 700;
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
	color: #666;
	border: 1px solid rgba(38, 50, 56, 0.1);
	border-radius: 3px;
	padding: .6875rem 1rem;
	line-height: 1;
	font-size: 16px;
	font-size: 1rem;
}

input[type="search"] {
	-webkit-appearance: textfield;
}

select {
	border: 1px solid rgba(38, 50, 56, 0.1);
	padding: .4rem .5rem;
}

textarea {
	width: 100%;
	line-height: inherit;
}

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
a {
	color: #06c;
	text-decoration: none;
	transition: all .3s;
}

a:hover {
	text-decoration: underline;
}

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
/* Main navigation */
.main-navigation {
	text-transform: uppercase;
	font-size: 12px;
	font-size: 0.75rem;
	letter-spacing: .1em;
	font-weight: bold;
}

.main-navigation ul {
	display: none;
	list-style: none;
	margin: 0;
	padding-left: 0;
}

.main-navigation ul ul {
	box-shadow: 0 10px 20px rgba(38, 50, 56, 0.1);
	float: left;
	position: absolute;
	top: 101%;
	left: 0;
	z-index: 99999;
	background: #fff;
	width: 220px;
	-webkit-transform: translate3d(0, 10px, 0);
	        transform: translate3d(0, 10px, 0);
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
}

.main-navigation ul ul ul {
	left: 100%;
	top: 0;
}

.main-navigation ul ul li {
	width: 100%;
}

.main-navigation ul ul a {
	border-bottom: 1px solid rgba(38, 50, 56, 0.1);
	padding-top: .75rem;
	padding-bottom: .75rem;
}

.main-navigation ul ul li:first-child > a {
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
}

.main-navigation ul ul li:last-child > a {
	border-bottom-left-radius: 2px;
	border-bottom-right-radius: 2px;
}

.main-navigation ul li:hover > ul,
.main-navigation ul li.focus > ul {
	-webkit-transform: translate3d(0, 0, 0);
	        transform: translate3d(0, 0, 0);
	opacity: 1;
	visibility: visible;
}

.main-navigation .menu-item-has-children > a::after,
.main-navigation .page_item_has_children > a::after {
	content: "";
	display: block;
	background: url(images/angle-down.svg) center right no-repeat;
	background-size: 12px 12px;
	width: 12px;
	height: 12px;
	position: absolute;
	z-index: 1001;
	right: 0;
	top: 50%;
	margin-top: -6px;
}

.main-navigation li .menu-item-has-children > a::after,
.main-navigation li .page_item_has_children > a::after {
	background-image: url(images/angle-right.svg);
	right: .75rem;
}

.main-navigation li {
	float: left;
	position: relative;
}

.main-navigation li:hover > a,
.main-navigation li.focus > a {
	color: inherit;
	border-color: #06c;
}

.main-navigation li li:hover > a,
.main-navigation li li.focus > a {
	color: inherit;
	border-color: rgba(38, 50, 56, 0.1);
}

.main-navigation a {
	display: block;
	text-decoration: none;
	padding: 24px 16px 21px;
	color: #586674;
	border-bottom: 3px solid transparent;
}

.main-navigation .current_page_item > a,
.main-navigation .current-menu-item > a,
.main-navigation .current_page_ancestor > a,
.main-navigation .current-menu-ancestor > a {
	color: inherit;
	border-color: #06c;
}

li .main-navigation .current_page_item > a, li
.main-navigation .current-menu-item > a, li
.main-navigation .current_page_ancestor > a, li
.main-navigation .current-menu-ancestor > a {
	border-color: rgba(38, 50, 56, 0.1);
}

.main-navigation li .current_page_item > a,
.main-navigation li .current-menu-item > a,
.main-navigation li .current_page_ancestor > a,
.main-navigation li .current-menu-ancestor > a {
	border-color: rgba(38, 50, 56, 0.1);
}

.menu-toggle {
	color: inherit;
	text-indent: -999em;
	margin-left: 4px;
	position: relative;
	padding: 0 0 0 1.25rem;
	background: transparent;
	border: none;
	font-weight: bold;
	font-size: 16px;
	font-size: 1rem;
}

.menu-toggle:before {
	content: "";
	position: absolute;
	left: 0;
	width: 100%;
	height: 0.9375rem;
	display: block;
	border-top: 0.5625rem double currentColor;
	border-bottom: 0.1875rem solid currentColor;
	transition: all .5s;
}

/* Small menu. */
.main-navigation.toggled .menu {
	position: absolute;
	right: 0;
	top: 101%;
	width: 100%;
}

.main-navigation.toggled ul {
	display: block;
	background: #fff;
	width: 100%;
	box-shadow: 0 10px 20px rgba(38, 50, 56, 0.1);
}

.main-navigation.toggled ul ul {
	visibility: visible;
	opacity: 1;
	position: static;
	float: none;
	-webkit-transform: none;
	        transform: none;
	box-shadow: none;
}

.main-navigation.toggled ul ul a {
	padding-left: 2rem;
}

.main-navigation.toggled ul ul ul a {
	padding-left: 4rem;
}

.main-navigation.toggled li {
	float: none;
}

.main-navigation.toggled li:hover a {
	border-color: rgba(38, 50, 56, 0.1);
}

.main-navigation.toggled a {
	padding-top: .75rem;
	padding-bottom: .75rem;
	border-bottom: 1px solid rgba(38, 50, 56, 0.1);
}

.main-navigation.toggled .menu-item-has-children > a:after,
.main-navigation.toggled .page_item_has_children > a:after {
	display: none;
}

@media (min-width: 768px) {
	.menu-toggle {
		display: none;
	}
	.main-navigation ul {
		display: block;
	}
}

/* Comment navigation */
.comment-navigation {
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	margin: 1rem 0;
}

.comment-navigation a {
	color: #6f8590;
}

.comment-list + .comment-navigation {
	margin: -3rem 0 2rem;
}

.comment-navigation .nav-previous {
	float: left;
}

.comment-navigation .nav-next {
	float: right;
	text-align: right;
}

/* Posts pagination */
.pagination {
	padding: 3rem 3rem 0;
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
	line-height: 1;
	font-weight: bold;
}

a.page-numbers {
	background: #e2e6e9;
	padding: .75rem 1rem;
	border-radius: 2px;
	color: inherit;
	transition: all .2s;
	margin: 0 2px;
}

a.page-numbers:hover {
	text-decoration: none;
	background: #6f8590;
	color: #fff;
}

.current {
	background: none;
	color: inherit;
	background: #fff;
	line-height: 1;
	padding: .75rem 1rem;
	border-radius: 2px;
	border: 1px solid #e2e6e9;
}

/* Single post navigation */
.post-navigation {
	margin-top: 1.5rem;
}

.adjacent {
	padding: 1.5rem;
}

@media (min-width: 768px) {
	.post-navigation .nav-links {
		display: flex;
		justify-content: center;
		margin-left: -3rem;
	}
	.adjacent {
		display: flex;
		width: 50%;
		padding: 1.5rem 0 1.5rem 3rem;
	}
}

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	word-wrap: normal !important;
	/* Many screen reader and browser combinations announce broken words as they would appear visually. */
}

.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000;
	/* Above WP toolbar. */
}

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
	outline: 0;
}

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
	display: inline;
	float: left;
	margin: 1em 1.5em .5em 0;
}

.alignleft.wp-caption {
	margin-bottom: .5em;
}

.alignright {
	display: inline;
	float: right;
	margin: 1em 0 .5em 1.5em;
}

.alignright.wp-caption {
	margin-bottom: .5em;
}

.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: "";
	display: table;
	table-layout: fixed;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}

/*--------------------------------------------------------------
# Grids
--------------------------------------------------------------*/
.grid {
	display: flex;
	flex-wrap: wrap;
	padding: 0 .5rem;
}

.grid > * {
	padding: .5rem;
	width: 100%;
}

@media (min-width: 768px) {
	.grid {
		padding: 0 1.5rem;
	}
	.grid > * {
		padding: 1.5rem;
	}
	.grid--2 > *,
	.grid--3 > *,
	.grid--4 > * {
		width: 50%;
	}
}

@media (min-width: 1024px) {
	.grid--4 > *,
	.grid--3 > * {
		width: 33.3333%;
	}
}

@media (min-width: 1280px) {
	.grid--4 > * {
		width: 25%;
	}
}

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
	/* Make sure select elements fit in widgets. */
}

.widget select {
	width: 100%;
	padding: .6875rem 1rem;
}

.widget ul {
	list-style: none;
	padding-left: 0;
}

.widget li {
	margin-bottom: .5rem;
}

.widget li ul {
	margin-top: .5rem;
}

.widget li li {
	padding-left: 0.8rem;
}

.widget-title {
	font-size: 14px;
	font-size: 0.875rem;
	margin-bottom: 1.5rem;
	border-bottom: 1px solid rgba(38, 50, 56, 0.1);
	padding-bottom: .5rem;
}

.search-field {
	width: 100%;
}

.widget_wpcom_social_media_icons_widget a {
	color: inherit;
	font-size: 20px;
	font-size: 1.25rem;
}

.widget_wpcom_social_media_icons_widget a:hover {
	color: #263238;
}

/* Calendar widget */
#next {
	text-align: right;
}

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/* Search form */
.form-wrapper {
	height: 0;
	background: #06c;
	padding: 0 2rem;
	transition: all .3s;
	position: relative;
	z-index: 1;
}

@media (min-width: 768px) {
	.form-wrapper {
		padding-left: 6rem;
		padding-right: 6rem;
	}
}

.form-wrapper.is-visible {
	height: auto;
	padding-top: 6rem;
	padding-bottom: 6rem;
}

.form-wrapper.is-visible .search-close {
	display: inline-block;
}

.form-wrapper .search-close {
	position: absolute;
	top: 0;
	right: 0;
	font-size: 32px;
	font-size: 2rem;
	background: none;
	border: none;
	display: none;
}

@media (min-width: 768px) {
	.form-wrapper .search-close {
		top: 2rem;
		right: 2rem;
	}
}

.form-wrapper .search-field {
	font-size: 28.8px;
	font-size: 1.8rem;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	background: none;
	color: #fff;
	border: none;
	border-radius: 0;
	border-bottom: 1px solid #fff;
	width: 30em;
	max-width: 100%;
	margin: 0 auto;
	display: block;
	padding-left: 0;
	padding-right: 0;
}

.form-wrapper .search-field:focus {
	outline: none;
}

.form-wrapper .search-field::-webkit-input-placeholder {
	color: #fff;
	opacity: .3;
}

.form-wrapper .search-field:-ms-input-placeholder {
	color: #fff;
	opacity: .3;
}

.form-wrapper .search-field::-ms-input-placeholder {
	color: #fff;
	opacity: .3;
}

.form-wrapper .search-field::placeholder {
	color: #fff;
	opacity: .3;
}

.search-field {
	max-width: 30em;
}

/* Header */

#header-frame{
	width: 100%;
	min-height: 50px;
	background-image: linear-gradient(#e9e9e97d, #e9e9e97d), url(/wp-content/themes/generic/images/pattern_background.png), linear-gradient(#e9e9e9, #e9e9e9);
	background-blend-mode: overlay;
	padding: 15px 0;
	display: flex;
	justify-content: center;
	box-shadow: 0px 5px 15px 0px rgba(100, 100, 100, 0.5);
}
#header-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	flex-wrap: wrap;
	width: 100%;
}
#header-logo{
	background-image: url("/wp-content/themes/generic/images/logo.svg");
	width: 80px;
	height: 80px;
	background-repeat: no-repeat;
}
.header-menu{
	width: 50%;
	max-width: 500px;
	min-width: 300px;
	font-weight: 500;
}
.header-ul{
	list-style: none;
	text-align: center;
	padding-left: 0;
	display: flex;
	width: 100%;
	justify-content: space-around;
}
.header_li{

}
.header_li a{

	color: #1e1e1e;
	line-height: 1;
	text-decoration:none;
	text-transform: uppercase;
	cursor: pointer;
	position:relative;
}
.header_li a:after{
	background-color: #fdc526;
	display: block;
	-webkit-box-shadow: 0px 0px 5px 0px rgba(253, 197, 38, 1);
	-moz-box-shadow:    0px 0px 5px 0px rgba(253, 197, 38, 1);
	box-shadow:         0px 0px 5px 0px rgba(253, 197, 38, 1);
	content: "";
	height: 2px;
	width: 0%;
	left:50%;
	position:absolute;
	-webkit-transition: width .1s ease-in-out;
	-moz--transition: width .1s ease-in-out;
	transition: width .1s ease-in-out;
	-webkit-transform:translateX(-50%);
	-moz-transform:translateX(-50%);
	transform:translateX(-50%);
}
.header_li a:hover:after,
.header_li a:focus:after {
	width: 100%;
}
#header-buttons{
	display: flex;
	width: 150px;
	flex-wrap: wrap;
	justify-content: center;
}



/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.site-content {
	max-width: 100%;
	margin: 0 auto;
}

.icon {
	display: inline-block;
	width: 1em;
	height: 1em;
	stroke-width: 0;
	stroke: currentColor;
	fill: currentColor;
}

/* Card */
.card {
	border-radius: 4px;
	box-shadow: 0 2px 4px rgba(38, 50, 56, 0.05);
	background: #fff;
	position: relative;
	transition: all .3s ease;
	width: 100%;
}

.card:hover {
	box-shadow: 0 8px 16px rgba(38, 50, 56, 0.1);
}

.card:hover .card__media img {
	-webkit-transform: scale(1.1);
	        transform: scale(1.1);
}

.card__body {
	padding: 1.5rem 2rem;
}

.card__subtitle {
	font-size: 12px;
	font-size: 0.75rem;
	color: #6f8590;
	text-transform: uppercase;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	letter-spacing: 1px;
}

.card__subtitle.cat-links {
	padding: 0;
	float: left;
	width: auto;
}

.card__title {
	font-size: 1.2em;
	margin: 0 0 8px;
	word-wrap: break-word;
}

.card__title a {
	color: inherit;
}

.card__content {
	clear: both;
	font-size: 16px;
	font-size: 1rem;
}

.card__media {
	display: block;
	overflow: hidden;
	border-radius: 4px 4px 0 0;
}

.card__media img {
	display: block;
	width: 100%;
	transition: all .3s ease;
}

.card__footer {
	font-size: 12px;
	font-size: 0.75rem;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.card__footer img {
	vertical-align: middle;
	border-radius: 50%;
	margin-right: 3px;
}

.card__footer a {
	color: #6f8590;
}

.card__footer .byline,
.card__footer .posted-on {
	margin-top: 24px;
	margin-bottom: -3px;
}

.card a:hover {
	color: #06c;
	text-decoration: none;
}

.icon-bookmark {
	display: none;
}

.sticky .icon-bookmark {
	display: inline-block;
	position: absolute;
	top: 1rem;
	right: 1rem;
	fill: #c2ccd0;
}

/* Archive page */
.hfeed .site-content {
	max-width: 1280px;
}

.hfeed.error404 .site-content {
	max-width: 58.5rem;
	padding: 2rem;
}

.hfeed .format-quote blockquote {
	font-size: 1.5em;
	border-top: none;
	margin-bottom: 0;
	text-align: center;
	padding: 1em;
}

.hfeed .format-quote blockquote > * {
	position: relative;
	z-index: 2;
}

.hfeed .format-quote blockquote:before {
	top: 50%;
	left: 50%;
	margin-top: -39px;
	margin-left: -39px;
	font-size: 8em;
	color: rgba(38, 50, 56, 0.1);
	z-index: 1;
	line-height: 1;
}

.hfeed .format-quote blockquote cite {
	font-size: 12px;
	font-size: 0.75rem;
	position: absolute;
	left: -1.5rem;
	bottom: -2.7rem;
}

.hfeed .format-quote blockquote cite a {
	color: inherit;
}

.hfeed .format-quote blockquote cite a:hover {
	color: #06c;
}

.hfeed .format-quote .card__footer {
	display: block;
	text-align: right;
}

.hfeed .format-quote .byline {
	display: none;
}

.page-header {
	margin: 3rem;
	padding: 2rem;
	background: #e2e6e9;
	border-radius: 4px;
}

.page-title {
	font-size: 1.2em;
	margin: 0;
}

.archive-description {
	font-size: 16px;
	font-size: 1rem;
	margin-top: .5em;
}

.updated:not(.published) {
	display: none;
}

.page-links {
	clear: both;
}

/* Single posts and pages */
.page .site-content,
.single .site-content {
	width: 58.5rem;
}

.page .hentry,
.single .hentry {
	padding: 0;
}

.page .entry-header,
.single .entry-header {
	margin-bottom: 4rem;
	text-align: center;
}

.page .entry-title,
.single .entry-title {
	margin: 0 0 8px;
	word-wrap: break-word;
	font-size: 28.8px;
	font-size: 1.8rem;
}

@media (max-width: 959px) {
	.page .entry-title,
	.single .entry-title {
		padding: 0 10px;
	}
}

@media (min-width: 768px) {
	.page .entry-title,
	.single .entry-title {
		font-size: 38.4px;
		font-size: 2.4rem;
	}
}

.page .entry-meta,
.single .entry-meta {
	font-weight: bold;
	font-size: 12px;
	font-size: 0.75rem;
	text-transform: uppercase;
	letter-spacing: 1px;
	color: #6f8590;
}

.page .entry-meta a,
.single .entry-meta a {
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	color: #6f8590;
}

.page .entry-meta .on,
.single .entry-meta .on {
	font-style: italic;
	font-weight: normal;
	text-transform: none;
	margin: 0 5px;
}

.page .entry-meta .comments-link:before,
.single .entry-meta .comments-link:before {
	content: '\2014';
	display: inline-block;
	margin: 0 5px;
}

.page .entry-meta .avatar,
.single .entry-meta .avatar {
	border-radius: 50%;
	vertical-align: middle;
	margin-right: 5px;
}

.page .entry-body,
.single .entry-body {
	background: #fff;
	border-radius: 4px;
	box-shadow: 0 7px 50px 0 rgba(38, 50, 56, 0.07);
	padding: 2rem;
	position: relative;
}

.page .entry-media,
.single .entry-media {
	position: relative;
	margin: -2rem -2rem 4rem;
}

@media (min-width: 768px) {
	.page .entry-media,
	.single .entry-media {
		margin: -4rem -4rem 4rem;
	}
}

@media (min-width: 1024px) {
	.page .entry-media,
	.single .entry-media {
		margin: -4rem -8rem 4rem;
	}
}

.page .singular-thumbnail,
.single .singular-thumbnail {
	display: block;
	width: 100%;
}

@media (min-width: 1024px) {
	.page .singular-thumbnail,
	.single .singular-thumbnail {
		border-radius: 4px 4px 0 0;
	}
}

.page .entry-content > p:first-child,
.single .entry-content > p:first-child {
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 1.2em;
	font-weight: 300;
	color: #6f8590;
}

.page .entry-content pre,
.single .entry-content pre {
	margin-left: -2rem;
	margin-right: -2rem;
	padding-left: 2rem;
	padding-right: 2rem;
}

@media (min-width: 768px) {
	.page .entry-body,
	.single .entry-body {
		padding-left: 4rem;
		padding-right: 4rem;
	}
	.page .entry-content pre,
	.single .entry-content pre {
		margin-left: -4rem;
		margin-right: -4rem;
		padding-left: 4rem;
		padding-right: 4rem;
	}
}

@media (min-width: 1024px) {
	.page .entry-body,
	.single .entry-body {
		padding: 4rem 8rem;
	}
	.page .entry-content pre,
	.single .entry-content pre {
		margin-left: -8rem;
		margin-right: -8rem;
		padding-left: 8rem;
		padding-right: 8rem;
	}
}

.entry-content {
	word-wrap: break-word;
}

.entry-footer {
	margin: 3rem -1rem 0;
	overflow: hidden;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	display: flex;
	flex-wrap: wrap;
}

.cat-links,
.tags-links {
	flex-basis: 100%;
	padding: 1rem;
}

@media (min-width: 768px) {
	.cat-links,
	.tags-links {
		flex-basis: 50%;
	}
}

.cat-links__title,
.tags-links__title {
	text-transform: uppercase;
	display: block;
	color: #6f8590;
	font-size: 12px;
	font-size: 0.75rem;
	margin-bottom: 1em;
	border-bottom: 1px solid rgba(38, 50, 56, 0.1);
}

.tag-cloud-link,
.tags-links a {
	display: inline-block;
	border: 1px solid #06c;
	color: #06c;
	padding: .2em 1em;
	border-radius: 99px;
	transition: all .2s;
	margin: 0 .25rem .5rem 0;
	text-transform: lowercase;
}

.tag-cloud-link:hover,
.tags-links a:hover {
	background: #06c;
	color: #fff;
	text-decoration: none;
}

.entry-footer .edit-link {
	flex-basis: 100%;
	padding-left: 1rem;
	margin-top: 2rem;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
}

.entry-footer .edit-link a {
	color: #6f8590;
}

/* Jetpack sharing icons */
.adjacent .sharedaddy {
	display: none;
}

@media (min-width: 1200px) {
	.sticky-sharing .sharedaddy {
		position: absolute !important;
		top: 0;
		left: -72px;
		width: 64px;
		text-align: center;
		will-change: min-height;
	}
	.sticky-sharing .sharedaddy .sd-title.sd-title:before {
		display: none;
	}
	.sticky-sharing .sharedaddy .sd-content li {
		display: block;
		margin-right: 0;
	}
	.sticky-sharing .sharedaddy .sh-sharing {
		-webkit-transform: translate(0, 0);
		        transform: translate(0, 0);
		/* For browsers don't support translate3d. */
		-webkit-transform: translate3d(0, 0, 0);
		        transform: translate3d(0, 0, 0);
	}
}

/* No content */
.no-results {
	width: 100%;
}

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comments-area {
	font-size: 16px;
	font-size: 1rem;
	width: 36em;
	max-width: 100%;
	padding: 2em;
	margin: 4rem auto 0;
}

.comments-title {
	font-size: 16px;
	font-size: 1rem;
	color: #6f8590;
	margin: 0 0 2rem;
	text-align: center;
}

.comment-list {
	list-style: none;
	padding-left: 0;
	margin-bottom: 4rem;
}

.comment-list .comment-respond {
	margin-bottom: 1.6rem;
}

.comment > .children {
	padding-left: 1.6rem;
	list-style: none;
}

.comment-body {
	padding: 27.6px 1.6rem 1.6rem;
	border-radius: .25rem;
	background: #fff;
	margin-bottom: 1.6rem;
}

.comment-meta {
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	margin-bottom: 1.6em;
}

.comment-author {
	font-size: 1rem;
	line-height: 1.25;
}

.comment-author .avatar {
	border-radius: 100%;
	margin-right: 8px;
	float: left;
	margin-top: -2px;
}

.says {
	display: none;
}

.comment-metadata {
	font-size: .75rem;
	margin-left: 48px;
}

.comment-metadata a {
	color: #6f8590;
}

.comment-metadata .edit-link {
	margin-left: .25rem;
}

.reply {
	display: inline-block;
	margin-top: 1.6rem;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 12px;
	font-size: 0.75rem;
}

.reply a {
	color: #6f8590;
}

.comment-content a {
	word-wrap: break-word;
}

.bypostauthor {
	display: block;
}

.comment-form-author,
.comment-form-email,
.comment-form-url {
	display: flex;
	flex-direction: column;
}

@media (min-width: 768px) {
	.comment-form-author,
	.comment-form-email,
	.comment-form-url {
		flex-direction: row;
		align-items: center;
	}
	.comment-form-author label,
	.comment-form-email label,
	.comment-form-url label {
		order: 2;
		margin-left: 1em;
	}
}

.required {
	color: #e7040f;
}

.no-comments {
	text-align: center;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	font-weight: bold;
	color: #6f8590;
}

/*--------------------------------------------------------------
## Gutenberg
--------------------------------------------------------------*/
@media (min-width: 768px) {
	.entry-content .alignfull {
		margin-left: calc(50% - 50vw);
		margin-right: calc(50% - 50vw);
		width: auto;
		max-width: 1000%;
	}
	.entry-content .alignfull iframe {
		width: 100%;
	}
}

.entry-content .alignwide {
	margin-left: -8rem;
	width: calc(100% + 16rem);
	max-width: calc(100% + 16rem);
}

@media (max-width: 1023px) {
	.entry-content .alignwide, .entry-content .alignfull {
		margin-left: -2rem;
		width: calc(100% + 4rem);
		max-width: calc(100% + 4rem);
	}
}

.wp-block-quote.is-large,
.wp-block-quote.is-style-large {
	padding: 1em 0 0 2.5em;
	margin: 0 0 1.6em;
}

.wp-block-quote.is-large cite,
.wp-block-quote.is-large footer,
.wp-block-quote.is-style-large cite,
.wp-block-quote.is-style-large footer {
	font-size: 18px;
	text-align: left;
}

/* Footer */
.site-footer {
	background: #fff;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	font-size: 14px;
	font-size: 0.875rem;
	margin-top: 5rem;
	border-top: 1px solid rgba(38, 50, 56, 0.1);
	color: #6f8590;
}

.footer-widgets {
	max-width: 1280px;
	margin: 0 auto;
	border-bottom: 1px solid rgba(38, 50, 56, 0.1);
	padding-top: 2rem;
	padding-bottom: 2rem;
}

.footer-widgets .widget_wpcom_social_media_icons_widget li {
	display: inline-block;
}

.footer-widgets .widget_wpcom_social_media_icons_widget .genericon {
	font-size: 24px;
}

.site-info {
	font-size: 12px;
	font-size: 0.75rem;
	text-align: center;
	padding: 2rem;
}

.site-info a {
	color: inherit;
}

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .pagination,
.infinite-scroll.neverending .site-footer {
	/* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
	display: block;
}

/* Load more button */
.infinite-loader,
#infinite-handle {
	flex-basis: 100%;
	text-align: center;
}

#infinite-handle span {
	background: none;
	border-radius: 0;
	padding: 0;
	display: inline-block;
	color: inherit;
}

.site-main #infinite-handle span button {
	background: #e2e6e9;
	border-color: #e2e6e9;
	color: inherit;
}

.site-main #infinite-handle span button:hover {
	background: #6f8590;
	border-color: #6f8590;
	opacity: 1;
	color: #fff;
}

/* Spinner */
.spinner {
	left: 50% !important;
	margin-left: -8px;
}

/* Infinite footer */
#infinite-footer .container {
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	border-color: rgba(38, 50, 56, 0.1);
}

#infinite-footer .blog-info a {
	color: #0f161a;
}

#infinite-footer .blog-credits,
#infinite-footer .blog-credits a {
	color: #6f8590;
}

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
	max-width: 100%;
}

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
	display: inline-block;
}

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
	margin-bottom: 2rem;
	max-width: 100%;
}

.wp-caption img[class*="wp-image-"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.wp-caption-text {
	text-align: center;
	margin-top: .875rem;
	font-size: .875rem;
	font-family: -apple-system, BlinkMacSystemFont, "avenir next", avenir, "helvetica neue", helvetica, ubuntu, roboto, noto, "segoe ui", arial, sans-serif;
	color: #6f8590;
}

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
	margin-bottom: 1.5em;
}

.gallery-item {
	display: inline-block;
	text-align: center;
	vertical-align: top;
	width: 50%;
	padding: 0 5px;
}

@media (min-width: 576px) {
	.gallery-columns-2 .gallery-item {
		max-width: 50%;
	}
	.gallery-columns-3 .gallery-item {
		max-width: 33.33%;
	}
	.gallery-columns-4 .gallery-item {
		max-width: 25%;
	}
	.gallery-columns-5 .gallery-item {
		max-width: 20%;
	}
	.gallery-columns-6 .gallery-item {
		max-width: 16.66%;
	}
	.gallery-columns-7 .gallery-item {
		max-width: 14.28%;
	}
	.gallery-columns-8 .gallery-item {
		max-width: 12.5%;
	}
	.gallery-columns-9 .gallery-item {
		max-width: 11.11%;
	}
}

.gallery-caption {
	display: block;
}


@font-face {
	font-family: Montserrat; /* Гарнитура шрифта */
}
body{
	margin: 0;
	font-family: Montserrat, serif;

}
.container{
	background-image: linear-gradient(#e9e9e9, #e9e9e9), url(/wp-content/themes/generic/images/pattern_background.png), linear-gradient(#e9e9e9, #e9e9e9);
	background-blend-mode: overlay;
}


/**/

