/*
Theme Name: Generic
Theme URI: https://generic.tools/
Author: Bryan Hadaway
Author URI: https://calmestghost.com/
Description: A fully responsive, SEO-friendly, jQuery-ready, and WordPress theme review guidelines compliant starter theme for designers and developers, which comes with its own built-in CSS grid (https://generic.tools/grid/). This generic/starter/clean/simple/bare/blank/minimalist/example/cheatsheet/white-label/HTML5/CSS3/base/foundation/framework/skeleton/boilerplate/whatever theme was created specifically as a tool to assist with building client sites virtually from scratch or building and submitting your own themes. It's updated to reflect new changes in theme review requirements, to make the process much easier with a higher level of success (some theme authors never make it through), but please post bugs, suggestions for improvement, or support requests on GitHub (https://github.com/bhadaway/generic-theme/issues) if you're getting jammed up on your review ticket. Note: the aim of the project is to meet WordPress guideline requirements, but not necessarily all of its recommendations. The biggest diversion would be the semi-minification of Generic's code. If you prefer the WordPress official coding standard (https://make.wordpress.org/core/handbook/best-practices/coding-standards/) or some other popular standard, you may download a free trial of PhpStorm (https://www.jetbrains.com/phpstorm/) or use some other code formatter/beautifier to automatically and instantly bulk format all the code to your liking. If I was able to help you out, consider making a donation (https://calmestghost.com/donate). Thank you and enjoy!
Version: 1.1
License: GNU General Public License v3 or Later
License URI: https://www.gnu.org/licenses/gpl.html
Tags: one-column, two-columns, right-sidebar, custom-menu, featured-images, microformats, sticky-post, threaded-comments, translation-ready, blog, e-commerce, portfolio
Text Domain: generic

Generic WordPress Theme © 2015-2019 GenericTools
Generic is distributed under the terms of the GNU GPL
*/

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline
}

html {
    scroll-behavior: smooth
}


/**/
@font-face {
    font-family: Montserrat; /* Гарнитура шрифта */
}
body{
    margin: 0;
    font-family: Montserrat, serif;
}

h2{
    text-align: center;
    margin: 20px 0;
    font-weight: 500;
}
input{
    padding: 13px;
    font-size: 13pt;
    border-radius: 30px;
    border: 1px solid #c9c9c9;
}
::placeholder{
    color: #c9c9c9;
}
.icon{
    color: #fdc526;

}


.gallery{
    margin: 20px 10px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.gallery img{
    border-radius: 20px;
}

.acf-gallery-attachments {
    height: auto!important;
    min-height: 200px!important;
}

.pattern-container{
    width: 100%;
    background-image: linear-gradient(#e9e9e9, #e9e9e9), url(images/pattern_background.png), linear-gradient(#e9e9e9, #e9e9e9);
    background-blend-mode: overlay;
}

.site-container{
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 1100px;
    padding-top: 15px;
}

.content-info{
    display: grid;
    column-gap: 50px;
    grid-template-columns: 1.5fr 2fr;
    margin: 10px;

}

@media (max-width: 600px) {
    .content-info{
        grid-template-columns: 1.5fr;
    }
}

.content-image{
    width: 100%;
    margin: 0 auto;
    border-radius: 20px;
}

.content-text-info{
    width: 100%;
}
.content-meta-info-item{
    display: grid;
    margin-bottom: 20px;
    grid-template-columns: 0.1fr 0.5fr 0.7fr;
    width: 50%;
    min-width: 300px;
    row-gap: 10px;
    align-items: center;
    margin-top: 10px;
}
.content-description-info{
    font-weight: 400;
    margin-top: 10px;
}



.primary_btn{
    background-color: #fdc526;
    color: white;
    border-radius: 32px;
    padding: 10px 30px  10px 30px ;
    text-align: center;
    border: none;
    margin: 5px;

}
.secondary_btn{
    border-radius: 32px;
    padding: 10px 30px  10px 30px ;
    text-align: center;
    border: solid 1px;
    margin: 5px;
    background-color: transparent;
    width: 100%;
}
button,
button:active,
button:focus {
    outline: none;
    font-weight: 700;
}




/*  EVENTS ARCHIVE */

.archive-events-container{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.event-registration-form{
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 20px;
    column-gap: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 30px;
}

/*  EVENT ENTRY */

.entry-event-container{
    width: 300px;
    background-color: #dfe0e4;
    border-radius: 20px;
    overflow: hidden;
    box-shadow: 0 18px 17px -10px rgba(50, 50, 50, 0.5);
    margin: 20px;

}
.entry-event-img{
    width: 100%;
    height: 200px;
    background-repeat: no-repeat;
    background-size: cover;
}
.entry-event-title{
    text-decoration: none;
    color: black;
    font-weight: 500;
}
.entry-event-title-box{
    padding: 10px 20px;
}
.entry-event-date{
    position: absolute;
    background-color: #fdc526;
    color: white;
    padding: 10px;
    border-radius: 32px;
}



/*  HEADER  */

#header-frame{
    position: relative;
    width: 100%;
    min-height: 50px;
    background-image: linear-gradient(#e9e9e97d, #e9e9e97d), url(images/pattern_background.png), linear-gradient(#e9e9e9, #e9e9e9);
    background-blend-mode: overlay;
    padding: 15px 0;
    display: flex;
    justify-content: center;
    box-shadow: 0px 5px 15px 0px rgba(100, 100, 100, 0.5);
}
#header-container{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    width: 100%;
}
#header-logo{
    background-image: url("images/logo.svg");
    width: 80px;
    height: 80px;
    background-repeat: no-repeat;
}
.header-menu{
    width: 50%;
    max-width: 500px;
    min-width: 300px;
    font-weight: 500;
}
.header-ul{
    list-style: none;
    text-align: center;
    padding-left: 0;
    display: flex;
    width: 100%;
    justify-content: space-around;
}
.header_li{

}
.header_li a{

    color: #1e1e1e;
    line-height: 1;
    text-decoration:none;
    text-transform: uppercase;
    cursor: pointer;
    position:relative;
}
.header_li a:after{
    background-color: #fdc526;
    display: block;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(253, 197, 38, 1);
    -moz-box-shadow:    0px 0px 5px 0px rgba(253, 197, 38, 1);
    box-shadow:         0px 0px 5px 0px rgba(253, 197, 38, 1);
    content: "";
    height: 2px;
    width: 0%;
    left:50%;
    position:absolute;
    -webkit-transition: width .1s ease-in-out;
    -moz--transition: width .1s ease-in-out;
    transition: width .1s ease-in-out;
    -webkit-transform:translateX(-50%);
    -moz-transform:translateX(-50%);
    transform:translateX(-50%);
}
.header_li a:hover:after,
.header_li a:focus:after {
    width: 100%;
}
#header-buttons{
    display: flex;
    width: 150px;
    flex-wrap: wrap;
    justify-content: center;
}